* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #3575d1, #7d4ed4);
}

.upload-box {
    width: 550px;
    height: 400px;
    border: 2px dashed #fff;
    margin: 150px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 24px;
    cursor: pointer;
    position: relative;
}

.upload-box i {
    font-size: 60px;
    margin-bottom: 10px;
}

.upload-box img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 2;
    display: none;
}